h1{
    text-align: center;
    color: #191d2b;
    background-color: yellow;
}

img{
    width: 250px;
    height: 250px ;
    border: 10px solid yellow;
}

a{
    color: yellow;
    text-align: center;
}

body{
    color: yellow;
    background-color:  #191d2b;
}